<h2>Busquedas</h2>
    <hr>

    <ul class="list-group">
      <li 
        routerLink=""
        routerLinkActive="active no-active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="list-group-item">
        Buscar países
      </li>

      <li 
        routerLink="region"
        routerLinkActive="active no-active"
        class="list-group-item">
        Buscar región
      </li>

      <li 
        routerLink="capital"
        routerLinkActive="active no-active"
        class="list-group-item">
        Buscar capital
      </li>
    </ul>
