<table class="table table-hover" *ngIf="paises.length > 0">
    <thead>
        <tr>
            <th> # </th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Capital</th>
            <th>Problación</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises" >
            <td>{{paises.indexOf(pais)+1}}</td>
            <td>
                <img src="{{pais.flags.png}}" alt="" class="flag-small">
            </td>
            <td>{{pais.name.common}}</td>
            <td>{{pais.capital}}</td>
            <td>{{pais.population | number}} Personas</td>
            <td>
                <a [routerLink]="['/pais', pais.cca3]" >Ver más</a>
            </td>
        </tr>
    </tbody>
</table>